    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    body, html {
        background-color: #121212; /* Preto suave */
        color: #E0E0E0; /* Texto claro para contraste */
        height: 100%;
        margin: 0;
        padding: 0;
    }
    

    #area-input {
        text-align: center;
        margin-top: 20px;
    }

    #inserir-tarefa {
        width: 80%;
        padding: 2px;
        border-radius: 2px;
        background-color: transparent;
        color: black;
        margin-right: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
    }

    #adicionar {
        background-color: green;
        color: white;
        padding: 6px;
    }

    #lista-tarefas {
        margin: 20px auto;
        width: 50%;
        text-align: center;
    }
    
    #titulo {
        text-align: center;
        margin-top: 20px;
    }
    
    
    